<mat-form-field appearance="fill">
    <mat-label>NOMBRES</mat-label>
    <input matInput placeholder="Nombres" [(ngModel)]="docente.nombres">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>APELLIDOS</mat-label>
    <input matInput placeholder="Apellidos" [(ngModel)]="docente.apellidos">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>EMAIL</mat-label>
    <input matInput placeholder="Email" [(ngModel)]="docente.email">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>NUMERO</mat-label>
    <input matInput placeholder="Numero" [(ngModel)]="docente.numero">
</mat-form-field>

<div>
    <mat-form-field appearance="fill">
        <mat-label *ngIf="docente.sede">{{docente.sede.sede}}</mat-label>
        <mat-select matInput placeholder="Seleccione una sede" [(ngModel)]="docente.sede">
            <mat-option *ngFor="let s of sede" [value]="s">
                {{s.sede}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <button mat-flat-button color="primary" (click)="modificar()">Guardar
    </button>
    <button mat-flat-button color="warn" (click)="cancelar()">Cancelar
    </button>
</div>

